@model EnergiaElectrica.ui.Models.ModeloCredenciales;

<div class="HVcenter">
    <div>
        <div class="vwLogin" style="border-color: @ViewBag.CssClass">
            <form asp-route="Login" id="frmLogin" name="frmLogin">
                <div class="form-group">
                    <input id="Username" class="form-control" placeholder="Usuario" asp-for="nombreUsuario" autofocus>
                    <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input id="Password" type="password" class="form-control" placeholder="Contraseña" asp-for="password" autocomplete="off">
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>

                <div class="mt-4 mb-4">
                    <button id="LoginButton" class="btn btn-primary" name="button" value="login" >Autenticar</button>
                </div>

                @Html.ValidationMessage("error")
            </form>
        </div>
    </div>
</div>